AIRFLOW_UID=1000

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Snowflake
SNOWFLAKE_USER=GNASSAU
SNOWFLAKE_PASSWORD=Nataxa@2697751
SNOWFLAKE_ACCOUNT=HEXYQZZ-ZVC44957
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN